<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.licenta.parkdroid"
      android:versionCode="1"
      android:versionName="1.0">

    <application android:name="ParkDroid" 
    			 android:icon="@drawable/icon" 
    			 android:label="@string/app_name">
    	
    	<uses-library android:name="com.google.android.maps" />
    	
        <activity android:name=".ParkDroidActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MapActivity"
        		  android:label="@string/map">
        	<intent-filter>
        		<action android:name="com.licenta.parkdroid.intent.action.LOGGED_OUT" />
      		</intent-filter>
        </activity>
        
        <activity android:name=".PreferencesActivity"
        		  android:label="@string/map">
        		  <intent-filter>
        		  	<action android:name="android.intent.action.MAIN" />
        			<category android:name="android.intent.category.PREFERENCE" />
        		  </intent-filter>
        </activity>

		<activity android:name=".ParkingLotsListActivity"
        		  android:label="@string/map">
			<intent-filter>
        		<action android:name="com.licenta.parkdroid.intent.action.LOGGED_OUT" />
        	</intent-filter>        		  
        </activity>
        
        <activity android:name=".ParkingLotActivity"
        		  android:label="@string/map">
        	<intent-filter>
        		<action android:name="android.intent.action.main" />
        	</intent-filter>
        	<intent-filter>
        		<action android:name="com.licenta.parkdroid.intent.action.LOGGED_OUT" />
        	</intent-filter>
        </activity>
        
        <activity android:name=".ParkingLotMapActivity"></activity>
        
        <activity android:name="LoginActivity"
        		  android:launchMode="singleInstance">
        </activity>
        
        <activity android:name="AddReservationActivity">
        </activity>
        
        <activity android:name="ActiveReservationsListActivity">
        </activity>
        
        <activity android:name="ReservationActivity">
        </activity>
        		  
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
</manifest>